.Cell {
  height: 11vw;
  width: 11vw;
  /* height: 22vmin;
  width: 22vmin; */
  background-color: gray;
  border-radius: 8px;
}

.Cell-lit {
  background-color: #48e3ee;
}

#easy-cell {
  height: 13vw;
  width: 13vw;
}
#med-cell {
  height: 11vw;
  width: 11vw;
}

#hard-cell {
  height: 9vw;
  width: 9vw;
}