.container{
  height: 100vh;
}

.fluorescent-text{
  color: white;
    text-shadow: white 0px 0px 20px;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 40px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 200px #0ff;
}

#difficulty {
  position: relative;
  top: 20%;
  font-size: 6vmin;
}


#congratulations {
  position: relative;
  top: 30%;
  margin: auto;
  font-size: 5.5vmin;
}



.flickering-button {
  appearance: none;
  background: linear-gradient(to bottom, #eec748, #DBAF49);
  border: none;
  color: #FFF;
  border-radius: 2em;
  padding: .5em 0.8em;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 0 1em rgba(white, .2);
  animation: flicker 3s linear infinite;
}

#reset-button{
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  font-size: 3vmin;
}

#easy-button, #medium-button, #hard-button {
  /* display: flex; */
  /* justify-content: space-between; */
  position: relative;
  margin-top: 50%;
  /* top: 50%; */
  font-size: 3.5vmin;
  /* transform: translateX(-50%); */
}

.buttons {
  display:flex;
  justify-content: space-around;
}

button:focus {outline:0;}

table {
  margin-top: 10vh;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: .99;
		text-shadow: -1px -1px 0 $outline, 1px -1px 0 $outline, -1px 1px 0 $outline, 1px 1px 0 $outline, 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
		text-shadow: none;
	}
}